<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        {% block title %}
            {%- if page_title -%}
                {{ page_title }} - Metabomatch
            {%- else -%}
                Metabomatch: comparing metabolomics softwares
            {%- endif -%}
        {% endblock %}
        </title>

        {% block keywords %}
            <meta name="keywords" content="omics services, metabolomics, software, ranking, best, number one, scripts, parameters">
            <meta name="description" content="Metabomatch is a website for comparing metabolomics softwares. Metabomatch helps to choose the one which fits best your needs.">
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Marc Dubois">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
            <link rel="stylesheet" href="{{ url_for('static', filename='css/code.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/flaskbb.css') }}">
            <style>
                 #beta {
                     display: inline-block;
                  -webkit-transform: rotate(-15deg);
                     transform: rotate(-15deg);
                 }
            </style>
        {% endblock %}
    </head>

    <body>
        <div id="wrap">
        {% block navigation %}
        {%- from theme("macros.html") import topnav with context -%}
        <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="{{ url_for('static', filename='img/elephant.png') }}"/>
                            <small><label id="beta" class="label label-info">beta release</label></small>
{#                            metabomatch <small><label class="label label-info">beta release</label></small>#}
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            {{ emit_event("before-first-navigation-element") }}

                            {# active_forum_nav is set in {forum, category, topic}.html and new_{topic, post}.html #}
                            {{ topnav(endpoint='home.workflow' , name='Workflow', icon='fa fa-road') }}
                            {{ topnav(endpoint='softwares.index' , name='Softwares', icon='fa fa-bar-chart') }}
                            {{ topnav(endpoint='scripts.index' , name='Scripts', icon='fa fa-file-text-o') }}
                            {{ topnav(endpoint='forum.index', name='Forum', icon='fa fa-comment', active=active_forum_nav) }}
                            {{ topnav(endpoint='jobs.index', name='Jobs', icon='fa fa-rocket') }}
                            {{ topnav(endpoint='home.index', name='Crowdsourcing') }}
{#                            {{ topnav(endpoint='forum.memberlist', name='Memberlist', icon='fa fa-user') }}#}
{#                            {{ topnav(endpoint='forum.search', name='forumSearch', icon='fa fa-search') }}#}

                            {{ emit_event("after-last-navigation-element") }}
                        </ul>

                    {% if current_user and current_user.is_authenticated() %}
                        <div class="btn-group navbar-btn navbar-right" style="padding-left: 15px; margin-right: -10px">
                            <a class="btn btn-primary" href="{{ url_for('user.profile', username=current_user.username) }}">
                                <span class="fa fa-user"></span> {{ current_user.username }}
                            </a>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('forum.topictracker') }}"><span class="fa fa-book"></span> Topic Tracker</a></li>
                                <li class="divider"></li>

                                <li><a href="{{ url_for('user.settings') }}"><span class="fa fa-cogs"></span> Settings</a></li>
                                {% if current_user|is_admin_or_moderator %}
                                <li><a href="{{ url_for('management.overview') }}"><span class="fa fa-cog"></span>Management</a></li>
                                <li class="divider"></li>
                                {% endif %}

                                <li><a href="{{ url_for('auth.logout') }}"><span class="fa fa-power-off"></span> Logout</a></li>
                            </ul>
                        </div>

                        <div class="btn-group navbar-btn navbar-right">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-envelope"></span> <span class="badge">{{ current_user.pm_unread }}</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('user.inbox') }}"><span class="fa fa-envelope"></span> Inbox</a></li>
                                <li><a href="{{ url_for('user.new_message') }}"><span class="fa fa-pencil"></span> New Message</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="btn-group navbar-btn navbar-right">
                            <a class="btn btn-primary" href="{{ url_for('auth.login') }}">
                                <span class="fa fa-user"></span> Login
                            </a>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                                <li><a href="{{ url_for('auth.forgot_password') }}">Reset Password</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    </div><!-- nav-collapse -->
                </div><!-- container -->
            </nav> <!-- navbar navbar-inverse -->
            {% endblock %}


            <div class="container">
                {% block messages %}
                    {% include theme('flashed_messages.html') %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div> <!-- /container -->
        </div> <!-- End wrap -->

            {% block footer %}
            <div id="footer">
                <div class="container">
                    <p class="text-muted credit pull-right">powered by <a href="http://flask.pocoo.org">Flask</a></p>

                    <p class="text-muted credit pull-left">Service proposed by <a href="http://omics-services.com">Omics
                        Services</a></p>
                </div>
            </div>
            {% endblock %}

        {% block javascript %}
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{#            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
