{% extends theme("layout.html") %}

{#{% block css %}#}
{#    {{ super() }}#}
{#    <style>#}
{#        h2 {#}
{#            font-size: 1.4em;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}

{% block title %}
    {{ software.name }} comments - Metabomatch
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="metabomatch, software, comments, user">
    <meta name="description" content="User Comments on {{ software.name }} software">
{% endblock %}



{% block content %}
    <h1><span class="fa fa-laptop text-muted"></span><a
            href={{ url_for('softwares.info', name=software.name) }}> {{ software.name }}</a> All comments</h1>
    <hr/>
    <ul class="list-group">
        {% for c in software.comments %}
            <li class="list-group-item">
                <h2 class="list-group-item-heading">
                    {% if c.user.avatar %}
                        <img class='img-rounded' src="{{ c.user.avatar }}" alt="gravatar" height="50" width="50">
                    {% else %}
                        <img class='img-rounded' src="{{ c.user.email | gravatar }}" alt="gravatar" height="50"
                             width="50">
                    {% endif %}
                    <a href="{{ url_for('user.profile', username=c.user.username) }}">{{ c.user.username }}</a>
                    <small class="text-muted">{{ c.date_created | format_date(format='%Y-%m-%d at %H:%M') }}:</small>
                </h2>
                {% if current_user.id == c.user.id %}
                    <form method="post"
                          action="{{ url_for('softwares.update_comment', name=software.name, comment_id=c.id) }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <textarea class="form-control" id="comment-content-{{ c.id }}"
                                      name="comment-content-{{ c.id }}" style="width:100%;" rows="10"
                                      disabled>{{ c.content }}</textarea>
                        </div>
                        <button id="edit-{{ c.id }}" class="btn btn-success">Edit</button>
                        <button disabled type="submit" id="submit-{{ c.id }}" class="btn btn-success">Update</button>
                    </form>
                {% else %}
                    <p class="list-group-item-text">{{ c.get_content() | safe }}</p>
                {% endif %}
                {% set sentiment =  c.sentiment_analysis() %}
                <p class="text-right" style="font-size: 0.8em">
                    <em>subjectivity</em>:
                        <span {% if sentiment.subjectivity > 0.5 %} class="text-warning" {% else %}
                                                                    class="text-info" {% endif %}>
                            <strong>{{ sentiment.subjectivity | round(precision=2) }}</strong>
                        </span>,
                    <em>polarity</em>:
                        <span {% if sentiment.polarity < 0.0 %} class="text-danger" {% else %}
                                                                class="text-success" {% endif %}>
                            <strong>{{ sentiment.polarity | round(precision=2) }}</strong>
                        </span>
                </p>
            </li>
        {% else %}
            <p class="well text-center"><span class="fa fa-coffee fa-2x"></span><br/><strong>No comment found</strong></p>
        {% endfor %}
    </ul>

    <hr/>
    <p class="help-block">The <strong>polarity score</strong> is a float within the range [-1.0, 1.0]. A score closer to
        1 means that the comment is <em>positive</em>, whereas
        closer to -1, it is <em>negative</em>.
        The <strong>subjectivity score</strong> is a float within the range [0.0, 1.0] where 0.0 is <em>very
            objective</em> and 1.0 is <em>very subjective</em>.
    </p>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        {% for c in software.comments %}
            $("#edit-{{ c.id }}").click(function (e) {
                e.preventDefault();
                $("#comment-content-{{ c.id }}").removeAttr("disabled");
                $("#submit-{{ c.id }}").removeAttr("disabled");
            });
        {% endfor %}
    </script>
{% endblock %}