{% extends theme("layout.html") %}
{% block css %}
    {{ super() }}
    <style>
        th {
            text-align: center;
        }

        h2 {
            font-size: 1.2em;
            margin: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <h1><span class="fa fa-laptop text-muted"></span><a
            href={{ url_for('softwares.info', name=software.name) }}> {{ software.name }}</a>, <span class="text-muted">average:</span>
        <label class="label label-default">{{ mean | default('NA', true) }}</label></h1>
    <hr/>
    {% if software.ratings %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>username</th>
                    <th>date</th>
                    <th>rate</th>
                </tr>
            </thead>
            <tbody>
            {% for c in software.ratings %}
                <tr class="text-center">
                    <th>
                        <h2>
                            {% if c.user.avatar %}
                                <img class='img-rounded' src="{{ c.user.avatar }}" alt="gravatar" height="50"
                                     width="50">
                            {% else %}
                                <img class='img-rounded' src="{{ c.user.email | gravatar }}" alt="gravatar" height="50"
                                     width="50">
                            {% endif %}
                            <a href="{{ url_for('user.profile', username=c.user.username) }}">{{ c.user.username }}</a>
                        </h2>
                    </th>
                    <th><span
                            class="text-muted">{{ c.date_created | format_date(format='%Y-%m-%d at %H:%M:%S') }}</span>
                    </th>
                    <th><div id="circles-{{ loop.index }}" class="text-center">{{ c.content }}</div></th>
                </tr>
            {% else %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="well text-center"><span class="fa fa-certificate fa-2x"></span><br/><strong>No rating found</strong></p>

    {% endif %}

{% endblock %}

{% block javascript %}
    {{ super() }}
        <script src="{{url_for('static', filename='js/circles.js')}}"></script>

    <script>
        {% for c in software.ratings %}
            Circles.create({
          id:           'circles-{{ loop.index }}',
          radius:       25,
          value:        '{{ c.rate }}',
          maxValue:     100,
          width:        5,
          text:         function(value){return value + '%';},
          colors:       ['#D3B6C6', '#4B253A'],
          duration:       400,
          wrpClass:     'circles-wrp',
          textClass:      'circles-text',
          styleWrapper: true,
          styleText:    true
        });
        {% endfor %}
    </script>
{% endblock %}