{% extends theme("layout.html") %}
{% block css %}
    {{ super() }}
    <style>
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.8em;
        }

        .github-li.active {
            border-top: 3px solid #D26911;
            border-bottom: none;
        }
    </style>
{% endblock %}
{% block content %}
    <h1><span class="fa fa-line-chart text-muted"></span> Some statistics and top ranked </h1>
    <hr/>

    <h2 style="padding-top: 20px;">
        <span class="fa fa-glass text-muted"></span> Winner of the day
        <small class="text-muted">{{ today | format_date }}</small>
        : <a href={{ url_for('softwares.info', name=winning_software) }}>{{ winning_software }}</a>
    </h2>

    <div class="row">
        <div id="winner-of-the-day">

        </div>
    </div>

    <h2><span class="fa fa-ticket text-muted"></span> Others</h2>

    <p class="help-block">The most upvoted softwares. Softwares can be really good in one category.
        You can see which software fit to your needs according to the community.</p>

    {#    <div class="row">#}
    {##}
    {#        <div class="col-md-6">#}
    {#            <div id="tot-upvotes">#}
    {#            style="min-width: 310px;">#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-md-6">#}
    {#            <div id="upvotes-by-cat">#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <p class="help-block" style="padding-top: 20px;">It is always interesting to see how softwares evolve to the
        community point of view. Here is the evolution
        of the rate of each software during last 12 months.</p>
    <div class="row">

        <div role="tabpanel">

            <!-- Nav tabs -->

            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="github-li active">
                    <a style="outline:none;-webkit-appearance:none;" href="#total-upvotes" aria-controls="total-upvotes"
                       role="tab" data-toggle="tab">
                        total upvotes
                    </a>
                </li>
                <li role="presentation" class="github-li">
                    <a style="outline:none;-webkit-appearance:none;" href="#rates-evolution"
                       aria-controls="rates-evolution" role="tab" data-toggle="tab">
                        Rates evolution
                    </a>
                </li>
                <li role="presentation" class="github-li">
                    <a style="outline:none;-webkit-appearance:none;" href="#pipeline-cat" aria-controls="pipeline-cat"
                       role="tab" data-toggle="tab">
                        Most represented pipeline category
                    </a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="total-upvotes">
                    {#                    <p class="help-block">The most upvoted softwares. Softwares can be really good in one category.#}
                    {#                    You can see which software fit to your needs according to the community.</p>#}
                    <div class="container" style="width:100%">
                        <div class="row">

                            <div class="col-md-6">
                                <div id="tot-upvotes">
                                    {#            style="min-width: 310px;">#}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="upvotes-by-cat">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="rates-evolution">
                </div>

                <div role="tabpanel" class="tab-pane fade" id="pipeline-cat">
                </div>


            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $('#tot-upvotes').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total sentences upvotes for all softwares'
            },

            xAxis: {
                categories: [
                    {{ total_upvotes_by_software_name.keys() | map('quote') | join(',') | safe }}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '# upvotes'
                }
            },

            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Total upvotes',
                data: [{{ total_upvotes_by_software_name.values() | join(',') }}]

            }]
        });

        /***************************************************************
         *
         */
        $('#upvotes-by-cat').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Upvotes by categories'
            },

            xAxis: {
                categories: [
                    {{ upvotes_by_software_name.keys() | map('quote') | join(',') | safe }}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '# upvotes'
                }
            },

            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {
                    name: 'Performance upvotes',
                    data: [{{ upvotes_by_software_name.values() | map(attribute='PERFORMANCE') | join(',') }}]
                },
                {
                    name: 'UI upvotes',
                    data: [{{ upvotes_by_software_name.values() | map(attribute='UI') |  join(',') }}]
                },
                {
                    name: 'Support upvotes',
                    data: [{{ upvotes_by_software_name.values() | map(attribute='SUPPORT') | join(',') }}]
                }
            ]
        });

        /***************************************************************+
         *
         */
        $('#winner-of-the-day').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Mean rate posted {{ today | format_date }}'
            },

            xAxis: {
                categories: [
                    {{ last_day_stats.keys() | map('quote') | join(',') | safe }}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'ratings mean'
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {
                    name: 'Ratings mean',
                    data: [{{ last_day_stats.values() | join(',') }}]
                }
            ]
        });

    </script>
{% endblock %}