{% extends theme("layout.html") %}
{% from theme('macros.html') import render_pagination %}

{% block title %}
    All softwares - Metabomatch
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="omics services, metabolomics, softwares, LC-MS, workflow, peak-picking, alignment, identification, database search, statistical analysis">
    <meta name="description" content="Compare metabolomics softwares on Metabomatch using feedback statistics analysis">
{% endblock %}

{% block content %}

    <div class="row alert alert-default fade in" style="padding: 0px 0px 20px 0px">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h1>Help the community</h1>
        <!--<hr/>-->
        <p><strong>You found a new software and you want to share it with the community ?</strong> Do not hesitate to
            register it.<br/><br/>

            <strong>You code yourself something new ?</strong>
            Register your software and as <em>owner or referent</em> you will be able to update some informations about it in the future, or highlight to others
            its strengths and features.
        </p>
        <p class="text-center">
            <a href="{{url_for('softwares.register')}}" class="btn btn-default">Register new software</a></p>

    </div>


    <div class="row">
        <h2>Current best softwares
            <small>{{ today | format_date }}</small>
        </h2>
        <p class="help-block"><strong>Info</strong> To see more about rankings visit <a
                href="{{ url_for('softwares.rankings') }}">this.</a></p>
        <hr/>
        {% for cat_name, soft in best_softwares.items() %}
            <div class="col-md-4">

                <p>
                    {% if cat_name =='UI' %}
                        {% set delta = delta_rankings_ui[soft] %}
                        <span class="fa fa-eye fa-2x text-muted"></span>
                    {% elif cat_name =='PERFORMANCE' %}
                        {% set delta = delta_rankings_perf[soft] %}
                        <span class="fa fa-tachometer fa-2x text-muted"></span>
                    {% elif cat_name == 'SUPPORT' %}
                        {% set delta = delta_rankings_support[soft] %}
                        <span class="fa fa-wrench fa-2x text-muted"></span>
                    {% endif %}
                    Best software for <em>{{ cat_name }}</em>:
                    <a href="{{ url_for('softwares.info', name=soft) }}">
                        <strong>{{ soft }}</strong>
                        {% if delta < 0 %}
                            <span class="text-danger"><strong>{{ delta }}</strong></span>
                        {% elif delta > 0 %}
                            <span class="text-success"><strong>+{{ delta }}</strong></span>
                        {% else %}
                            <span data-toggle='tooltip' title="Ranking remains the same"
                                  class="text-info fa fa-compress"></span>
                        {% endif %}
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>

    <p class="text-center"><img src="{{ url_for('static', filename='img/hex-loader3.gif') }}"/></p>


    <div class="row alert alert-default fade in" style="background-color: #0088cc; border:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 text-center">
                    <span style="color:white;">Get last metabolomics softwares news !</span>
                </div>
                <div class="col-md-6 text-center">
                    <a class="twitter-follow-button" href="https://twitter.com/metabomatch">Follow @metabomatch</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {#        style="padding-top: 50px">#}
        <h2 class="text-left">Select the best software for your needs
            <small>by category</small>
        </h2>
        <hr/>
    </div>


    <div class="row">
        <div class="col-md-3">
            <a href="/softwares?category=1" class="btn btn-primary"><i class="fa fa-tag"></i> Signal Extraction</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=2" class="btn btn-success"><i class="fa fa-tag"></i> LC-alignment</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=3" class="btn btn-warning"><i class="fa fa-tag"></i> Database Search</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=4" class="btn btn-danger"><i class="fa fa-tag"></i> Statistical/Pathway
                analysis</a>
        </div>
    </div>

    <div class="row" style="padding-top:50px;">
        <div class="col-md-6" style="padding: 0; margin: 0">
            <h3 class="text-left">Selected softwares</h3>
        </div>
        <div class="col-md-6 text-left" style="padding: 15px 0 0 0;">
            <form class="form-inline" role="form" action="{{ url_for('softwares.index') }}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" name="text" placeholder="Software name">
                </div>
                <button type="submit" class="btn btn-default">Filter</button>
            </form>
        </div>
    </div>

    <div class="row">

        <p class="help-block"><strong>Note:</strong> Each rate and ranking are updated once a day.</p>

        <div class="col-md-12">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <!-- Software</th> -->
                        <!-- <th>Ranking</th> -->
                        <!-- <th>Programming Language</th> -->
                        <th></th>
                        <!-- Tags</th> -->
                        <th class="text-center"></th>
                        <!-- Global rate</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for soft in softwares.items %}

                        <tr>
                            <th>
                              <a href="{{ url_for('softwares.info', name=soft.name) }}">
                                <img src="http://metabomatch.s3.amazonaws.com/{{ [soft.name|lower] |join('') }}" height="50"/>
                                {{ soft.name }}
                              </a>
                                {% if not (soft.insertion_date | older_than_one_month) %}
                                    <small><label class="label label-success">new</label></small>
                                {% endif %}
                            </th>
                            {# <th>
                                {% set delta_global_rate = delta_rankings_global_rate[soft.name] %}
                                {% if delta_global_rate < 0 %}
                                    <span class="text-danger"><strong>{{ delta_global_rate }}</strong></span>
                                {% elif delta_global_rate > 0 %}
                                    <span class="text-success"><strong>+{{ delta_global_rate }}</strong></span>
                                {% else %}
                                    <span data-toggle='tooltip' title="Ranking remains the same"
                                          class="text-info fa fa-compress"></span>
                                {% endif %}
                            </th>
                            <th><small>{{ soft.programming_language }}</small></th> #}
                            <th><small>
                                {% set soft_tags = soft.tags| map(attribute='tag') | join(',') %}
                                {% if 'Signal Extraction' in soft_tags %}
                                    <span class="btn btn-primary fa fa-tag"></span>
                                {% endif %}
                                {% if 'LC Alignment' in soft_tags %}
                                    <span class="btn btn-success fa fa-tag"></span>
                                {% endif %}
                                {% if 'Database Search' in soft_tags %}
                                    <span class="btn btn-warning fa fa-tag"></span>
                                {% endif %}
                                {% if 'Statistical Analysis' in soft_tags %}
                                    <span class="btn btn-danger fa fa-tag"></span>
                                {% endif %}
                                </small>

                            </th>
                            {% set rate = soft.compute_rate() %}
                            <th class="text-center">
                                <label style="font-size:1em;"
                                        {% if rate >=70 %}
                                            class="label label-primary">
                                        {% elif 50 <= rate < 70 %}
                                            class="label label-success">
                                        {% elif 30 <= rate < 50 %}
                                            class="label label-warning">
                                        {% elif rate < 30 %}
                                            class="label label-danger">
                                        {% endif %}
                                {{ rate }}
                                </label>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-11">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    sort by
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        {% if request.args %}
                            <a href="{{ request.url +  '&sort_rate=True' }}"><span
                                    class="fa fa-sort-amount-desc"></span> rate</a>
                        {% else %}
                            <a href="{{ request.url +  '?sort_rate=True' }}"><span
                                    class="fa fa-sort-amount-desc"></span> rate</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if request.args %}
                            <a href="{{ request.url +  '&sort_name=True' }}"><span class="fa fa-sort-alpha-asc"></span>
                                name</a>
                        {% else %}
                            <a href="{{ request.url +  '?sort_name=True' }}"><span class="fa fa-sort-alpha-asc"></span>
                                name</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        {% if request.args.get('sort_name') is not none %}
            {{ render_pagination(softwares, url_for('softwares.index', sort_name=True)) }}
        {% elif request.args.get('sort_rate') is not none %}
            {{ render_pagination(softwares, url_for('softwares.index', sort_rate=True)) }}
        {% else %}
            {{ render_pagination(softwares, url_for('softwares.index')) }}
        {% endif %}
    </div>

    <p class="text-center"><img src="{{ url_for('static', filename='img/hex-loader3.gif') }}"/></p>


    <div class="row">

        <div id="update-receiver" class="col-md-8 col-sm-12">
            <h2>Recent activity</h2>
            <hr/>
            {% for kind, inst in activities %}
                <div class="alert alert-default" style="padding-top:0">
                    <div class="container" style="width:100%;">
                        <div class="col-md-1">

                            <span class="fa
                                {% if kind == 'comment' %} fa-comments-o
                                {% elif kind == 'script' %} fa-code
                                {% elif kind == 'rating' %} fa-certificate
                                {% elif kind == 'procons_upvote' %} fa-meh-o
                                {% else %} fa-chevron-circle-up
                                {% endif %} fa-2x text-muted">

                            </span>
                        </div>
                        <div class="col-md-11">
                            <p></p>
                            {% if kind =='comment' %}
                                <p>
                                    <strong>
                                        <a href="{{ url_for('user.profile', username=inst.user.username) }}">
                                            {% if inst.user.avatar %}
                                                <img src="{{ inst.user.avatar }}" alt="Avatar" height="20" width="20"
                                                     data-toggle="tooltip" data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% else %}
                                                <img src="{{ inst.user.email | gravatar }}" alt="gravatar"
                                                     height="20" width="20" data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% endif %}
                                        </a>
                                        posted a comment on <a
                                            href="{{ url_for('softwares.info', name=inst.software.name) }}">{{ inst.software.name }}</a>
                                        &bull;
                                        <em>{{ inst.date_created | time_since }}</em>
                                    </strong>
                                </p>
                                <p>
                                    <small class=text-muted>{{ inst.content | crop_title(length=200) }}</small>
                                </p>

                            {% elif kind == 'script' %}
                                <p>
                                    <strong>
                                        <a href="{{ url_for('user.profile', username=inst.user.username) }}">
                                            {% if inst.user.avatar %}
                                                <img src="{{ inst.user.avatar }}" alt="Avatar" height="20" width="20"
                                                     data-toggle="tooltip" data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% else %}
                                                <img src="{{ inst.user.email | gravatar }}" alt="gravatar"
                                                     height="20" width="20" data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% endif %}
                                        </a>
                                        just submit a <a
                                            href="{{ url_for('scripts.info', script_id=inst.id, slug=inst.slug) }}">new
                                        script</a>
                                        &bull;
                                        <em>{{ inst.creation_date | time_since }}</em>
                                    </strong>
                                </p>
                            {% elif kind == 'rating' %}
                                <p>
                                    <strong>
                                        <a href="{{ url_for('user.profile', username=inst.user.username) }}">
                                            {% if inst.user.avatar %}
                                                <img src="{{ inst.user.avatar }}" alt="Avatar" height="20" width="20"
                                                     data-toggle="tooltip" data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% else %}
                                                <img src="{{ inst.user.email | gravatar }}" alt="gravatar"
                                                     height="20" width="20" data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% endif %}
                                        </a>
                                        gave <label class="label label-info"
                                                    style="font-size: 1em;">{{ inst.rate }}</label>
                                        for <a
                                            href="{{ url_for('softwares.info', name=inst.software.name) }}">{{ inst.software.name }}</a>
                                        &bull;
                                        <em>{{ inst.date_created | time_since }}</em>
                                    </strong>
                                </p>
                            {% elif kind == 'procons_upvote' %}
                                <p>
                                    <strong>
                                        <a href="{{ url_for('user.profile', username=inst.user.username) }}">
                                            {% if inst.user.avatar %}
                                                <img src="{{ inst.user.avatar }}" alt="Avatar" height="20" width="20"
                                                     data-toggle="tooltip" data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% else %}
                                                <img src="{{ inst.user.email | gravatar }}" alt="gravatar"
                                                     height="20" width="20" data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% endif %}
                                        </a>
                                        upvoted a {{ inst.procons.kind }}: <a
                                            href="{{ url_for('softwares.info', name=inst.procons.software.name) }}">{{ inst.procons.title }}</a>
                                        &bull;
                                        <label class="label label-{% if inst.procons.kind == 'pro' %}success{% else %}danger{% endif %} ">
                                            {{ inst.procons.procons_upvotes | length }}
                                        </label> upvotes
                                        &bull;
                                        <a href="{{ url_for('softwares.info', name=inst.procons.software.name) }}">{{ inst.procons.software.name }}</a>
                                        &bull;
                                        <em>{{ inst.upvote_date | time_since }}</em>
                                    </strong>
                                </p>
                                <p>
                                    <small class=text-muted>{{ inst.procons.description | crop_title(length=200) }}</small>
                                </p>
                            {% else %}
                                <p>
                                    <strong>
                                        <a href="{{ url_for('user.profile', username=inst.user.username) }}">
                                            {% if inst.user.avatar %}
                                                <img src="{{ inst.user.avatar }}" alt="Avatar" height="20" width="20">
                                            {% else %}
                                                <img src="{{ inst.user.email | gravatar }}" alt="gravatar"
                                                     height="20" width="20" data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="{{ inst.user.username }}">
                                            {% endif %}
                                        </a>
                                        upvoted
                                        <a href="{{ url_for('softwares.info', name=inst.sentence_software_mapping.software.name) }}">{{ inst.sentence_software_mapping.software.name }}
                                        </a> for its
                                        <em>{{ inst.sentence_software_mapping.sentence.category | lower }}</em>
                                        &bull;
                                        <em>{{ inst.date_created | time_since }}</em>
                                    </strong>
                                </p>
                            {% endif %}
                            {#                    <p>#}
                            {#                        {% if kind=='comment' %}#}
                            {#                            <small class=text-muted>{{ inst.content | crop_title(length=200) }}</small>#}
                            {#                        {% endif %}#}
                            {#                    </p>#}
                        </div>
                </div>
            </div>
            {% endfor %}
            {#        <p class="text-center"><a href="{{ url_for('softwares.index', month=current_month + 1) }}">See More</a></p>#}
            <p class="text-center see-more see-more-active"><a
                    href="{{ url_for('softwares.get_more_notifications', month=current_month + 1) }}">See More</a></p>
            {#        id="see-more-{{ current_month }}"#}
            <p class="hex-loader hex-loader-active text-center" style="display: none;"><img
                    src="{{ url_for('static', filename='img/hex-loader1.gif') }}" alt="loader metabolomic"/></p>


        </div>

        <div class="col-md-4 col-sm-12">
            {#         text-right">#}
            <h2>Last news</h2>
            <hr/>
            {% for article in last_articles %}
                <div class="alert alert-default">
                    <h4>{{ article.title | crop_title(50) }}
                        <small class="text-muted">{{ article.creation_date | format_date }}</small>
                    </h4>
                    <!--<p><em>{{ article.to_html() | safe | crop_title(50) }}</em></p>-->
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $(function () {
            $('#software').addClass('active');
        });
    </script>
    <script>

        var activate_ajax = function (element, month) {
            element.on('click', function () {
                element.css('display', 'none');
                element.removeClass('.see-more-active');
                $('.hex-loader.hex-loader-active').css('display', 'inline');
                $('.hex-loader.hex-loader-active').removeClass('.hex-loader-active');


                $.getJSON('/softwares/get-more-notifications', {month: month + 1},
                        function (json) {
                            var div = document.getElementById('update-receiver');
                            if (json['html'] == '') {
                                div.innerHTML = div.innerHTML + '<p class="text-center">No more news</p>';
                            } else {
                                div.innerHTML = div.innerHTML + json['html'];
                                var m = month + 1;
                                div.innerHTML = div.innerHTML +
                                        '<p  class="text-center see-more see-more-active"><a href="{{ url_for('softwares.get_more_notifications', month=m) }}">See More</a></p>' +
                                        '<p class="text-center hex-loader hex-loader-active" style="display: none;"><img src="{{ url_for('static', filename='img/hex-loader1.gif') }}" alt="loader metabolomic"/></p>';

                                activate_ajax($(".see-more.see-more-active"), m);
                            }
                            $('.hex-loader').css('display', 'none');
                        }
                );
                return false;
            })
        };

        $(function () {
            var month = {{ current_month }};
            var actives_see_more = $(".see-more.see-more-active");
            activate_ajax(actives_see_more, month);
        })
    </script>
    <script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>
{% endblock %}
