{% extends theme("layout.html") %}
{% from theme("macros.html") import render_submit %}

{% block title %}
    {{ software.name }} informations - Metabomatch
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="{{ software.name }}, github, pubmed, citation, metabolomics, software, omics services">
    <meta name="description" content="Information and statistics about the {{ software.name }} software.">
{% endblock %}

{% block css %}
    {{ super() }}
    <style>
        .big-font {
            font-size: 1.2em;
        }
        /*add line github style */
        .github-li.active {
            border-top: 3px solid #D26911;
            border-bottom: none;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-9">
            <h1>{{ software.name }}
                <small>
                    <label style="font-size: 0.4em;" class="label label-success">{{ software.insertion_date | time_since }}</label>
                    {% if software.omictools_id %}
                        <a href='/'>{{ software.omictools_id }}</a>,
                    {% endif %}
                    <a href="{{ software.get_category_url() }}">Forum</a>,
                     {% if software.owner.avatar %}
                         <small>owner: <a href="{{ url_for('user.new_message', to_user=software.owner.username) }}"><img
                                 class="img img-rounded" src="{{ software.owner.avatar }}" width="30" height="30"></a>
                         </small>
                    {% else %}
                        <small>owner: <a href="{{ url_for('user.new_message', to_user=software.owner.username) }}"><img class="img img-rounded" src="{{ software.owner.email | gravatar }}" width="30" height="30"></a></small>
                    {% endif %}

                </small>
            </h1>
            <div class="container" style="width:100%">
                <div class="row">
                    <img src="http://metabomatch.s3.amazonaws.com/{{ [software.name|lower] |join("") }}" class="img-responsive thumbnail" width="300" height="150"/>
                </div>

                <div class="row" style="padding-top: 20px;">
                    {% set can_edit_description = software.owner and current_user.id == software.owner.id %}
                    {% if can_edit_description %}
                        <form action="{{ url_for('softwares.update_description', name=software.name) }}" method="post">
                                {{ form.hidden_tag() }}

                    {% endif %}
                    <div class="col-md-10">
                        {% if can_edit_description %}
                            <textarea name="description" style="resize: none" class="form-control" rows="5" placeholder="You can write a tagline here">{{ software.algorithm_description |default('', true) }}</textarea>
                        {% else %}
                            {% if software.algorithm_description %}
                                <p style="font-size: 1.2em">{{ software.algorithm_description| replace('\r\n', '<br/>') | safe }}</p>
                            {% endif %}
                        {% endif %}

                    </div>
                    {% if can_edit_description %}
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>

        </div>
        <div id="circles-1" class="col-md-3"></div>
    </div>

    <div class="row" style="padding-top: 50px;">
    <h3>
        <span class="fa fa-desktop text-muted"></span> Software informations {% if software.website %}
        <a href="{{ software.website }}">Website</a> {% endif %}
        {% if current_user.id == software.owner_id %}
            <small>
                <a href="{{ url_for('softwares.update', name=software.name) }}" class="btn btn-info btn-sm">Edit</a>
{#                <a href="/" class="btn btn-danger btn-sm">Transfer ownership</a><select><option>Marco</option></select>#}
            </small>
        {% else %}
            <small>You can not edit this sheet</small>
        {% endif %}
    </h3>
    <hr>
    </div>

{#    Coloured row describing softwares#}
    <div class="row">
        <div class="col-md-3">
            {% if software.is_maintained %}
                <a href="{{ software.website | default('#', true) }}" class="btn"
                   style="background-color: #673ab7; color:white;">
                    <i class="fa fa-plug fa-2x"></i><span> MAINTAINED ..... </span><i class="fa fa-check-square-o"></i>
                </a>
            {% else %}
                <span href="#" class="btn" style="background-color: #673ab7; color:white;">
                    <i class="fa fa-plug fa-2x"></i><span> MAINTAINED ..... </span><i class="fa fa-square-o"></i>
                </span>
            {% endif %}
        </div>

        <div class="col-md-3">
            {% if software.publication_link %}
                <a class='btn' style="background-color: #3f51b5; color:white" href="{{ software.publication_link  }}">
                    <i class="fa fa-file-text fa-2x"></i><span> PUBLICATED ..... </span><i class="fa fa-check-square-o"></i>
                </a>
            {% else %}
                <span class='btn' style="background-color: #3f51b5; color:white" href="{{ software.publication_link }}">
                    <i class="fa fa-file-text fa-2x"></i><span> PUBLICATED ..... </span><i class="fa fa-square-o"></i>
                </span>
            {% endif %}
        </div>

        <div class="col-md-3">
            {% if software.download_link %}
                <a href="{{ software.download_link }}" class="btn" style="background-color: #2196f3; color:white">
                    <i class="fa fa-cloud-download fa-2x"></i><span> DOWNLOAD ..... </span><i class="fa fa-check-square-o"></i>
                </a>
            {% else %}
                <span href="{{ software.download_link }}" class="btn" style="background-color: #2196f3; color:white">
                    <i class="fa fa-cloud-download fa-2x"></i><span> DOWNLOAD ..... </span><i class="fa fa-square-o"></i>
                </span>
            {% endif %}
        </div>

        <div class="col-md-3">
            {% if software.github_link %}
                 <a class="btn" style="background-color: #03a9f4; color:white" href="{{ software.github_link  }}">
                     <i class="fa fa-github-square fa-2x"></i><span> GITHUB ..... </span><i class="fa fa-check-square-o"></i>
                 </a>
            {% else %}
                <a class="btn" style="background-color: #03a9f4; color:white" href="{{ software.github_link  }}">
                     <i class="fa fa-github-square fa-2x"></i><span> GITHUB ..... </span><i class="fa fa-square-o"></i>
                </a>
            {% endif %}
        </div>
    </div>
    <p class="help-block" style="padding-bottom: 20px;"><em>Click on buttons to navigate</em></p>

    <div class="row" style="padding-bottom: 50px;">
        <h3>
            <span class="text-muted">Tags: </span>

        {% set soft_tags = software.tags| map(attribute='tag') | join(',') %}
        <small style="font-size:0.5em;">
        {% if 'Signal Extraction' in soft_tags %}
            <span class="btn btn-primary fa fa-tag">Signal Extraction</span>
        {% endif %}
        {% if 'LC Alignment' in soft_tags %}
            <span class="btn btn-success fa fa-tag">LC Alignment</span>
        {% endif %}
        {% if 'Database Search' in soft_tags %}
            <span class="btn btn-warning fa fa-tag">Database Search</span>
        {% endif %}
        {% if 'Statistical Analysis' in soft_tags %}
            <span class="btn btn-danger fa fa-tag">Statistical/Pathway analysis</span>
        {% endif %}
        </small>
        </h3>

        <h3>
            <span class="text-muted">Organization: </span>

            <small>{% if software.organization %} {{ software.organization }} {% else %} NA  {% endif %}</small>
        </h3>
        <h3>
            <span class="text-muted">Programming languages: </span>

            <small>{% if software.programming_language %} {{ software.programming_language }} {% else %}
                NA  {% endif %}</small>
        </h3>
        <h3>
            <span class="text-muted">Current Version: </span>
            {% if not software.is_maintained %}
                <small class="text-danger"> This software is no longer maintained</small>
            {% else %}
                <span class="badge">{{ software.current_version }}</span>
            {% endif %}
        </h3>

    </div>

     <div class="row">

         <div role="tabpanel">

            <!-- Nav tabs -->

            <ul class="nav nav-tabs" role="tablist">
                {% for category, l in software.sentences_mapping|groupby('sentence.category') %}

                    {% if loop.first %}

                        <li role="presentation" class="github-li active">
                            <a style="outline:none;-webkit-appearance:none;" href="#{{ category | lower}}" aria-controls="{{ category | lower }}" role="tab" data-toggle="tab">
                                {% if category == 'PERFORMANCE' %}
                                    <i class="fa fa-rocket"></i>
                                {% elif category == 'UI' %}
                                    <i class="fa fa-th-list"></i>
                                {% else  %}
                                    <i class="fa fa-ambulance"></i>
                                {% endif %}
                                 {{ category | title }}
                            </a>
                        </li>
                    {% else %}
                        <li role="presentation" class="github-li">
                            <a style="outline:none;-webkit-appearance:none;" href="#{{ category | lower}}" aria-controls="{{ category | lower }}" role="tab" data-toggle="tab">
                                 {% if category == 'PERFORMANCE' %}
                                    <i class="fa fa-rocket"></i>
                                {% elif category == 'UI' %}
                                    <i class="fa fa-th-list"></i>
                                {% else  %}
                                    <i class="fa fa-ambulance"></i>
                                {% endif %}
                                {{ category | title }}
                            </a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {% for category, l in software.sentences_mapping|groupby('sentence.category') %}
                    {% if loop.first %}
                        <div role="tabpanel" class="tab-pane fade in active" id="{{ category | lower }}">
                    {% else %}
                        <div role="tabpanel" class="tab-pane fade" id="{{ category | lower }}">
                    {% endif %}
                        <ul class="list-group">
                            {% for sentence_mapping in (l | sort(attribute='sentence.id')) %}
                                <li class="list-group-item">
                                    <strong>{{ sentence_mapping.sentence.sentence }}</strong>

                                    <a href="{{ url_for('softwares.upvote', name=software.name, mapping_id=sentence_mapping.id) }}"
                                       rel="nofollow">
                                        <span class="fa fa-chevron-circle-up fa-2x"></span>
                                    </a>

                                    <small>
                                        <a class="pull-right"
                                           href="{{ url_for('softwares.upvote_details', name=software.name, mapping_id=sentence_mapping.id) }}">
                                            <span class="badge big-font">{{ sentence_mapping.upvote }}</span>
                                            {% if sentence_mapping.upvote %}details {% endif %}
                                        </a>
                                    </small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>
    <p><em>Click on <i class="fa fa-chevron-circle-up"></i> of the sentence which fits best to this software</em></p>

    {# starts a new row  #}
    <div class="row" style="padding-top: 50px;">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="github-li active">
                    <a style="outline:none;-webkit-appearance:none;" href="#community" aria-controls="community" role="tab" data-toggle="tab">
                        <h4><i class="fa fa-globe text-muted"></i> Community view</h4>
                    </a>
                </li>
                <li class="github-li" role="presentation">
                    <a style="outline:none;-webkit-appearance:none;" href="#various-stats" aria-controls="various-stats" role="tab" data-toggle="tab">
                        <h4><i class="fa fa-exchange text-muted"></i> Various statistics</h4>
                    </a>
                </li>
                <li class="github-li" role="presentation">
                    <a style="outline:none;-webkit-appearance:none;" href="#github-stats" aria-controls="github-stats" role="tab" data-toggle="tab">
                        <h4><i class="fa fa-github text-muted"></i> Github related statistics</h4>
                    </a>
                </li>

            </ul>


            <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade in active" id="community">
                    <div class="row"> {# style="min-height: 300px;" #}
                        <div class="col-md-6">
                            <h5 class="text-center"><i class="fa fa-star text-muted"></i> Last ratings <small><a href="{{ url_for('softwares.ratings', name=software.name) }}">see all</a></small></h5>

                            <hr/>
                            {% for c in software.ratings[-5:] %}
                                <p class="text-center">
                                    <a href="{{ url_for('user.profile', username=c.user.username) }}">

                                        <img class="img img-circle"
                                                {% if c.user.avatar %}
                                                    src="{{ c.user.avatar }}"
                                                {% else %}
                                                    src="{{ c.user.email | gravatar }}"
                                                {% endif %}
                                                    width="25" height="25">
                                    </a>
                                    gave
                                    {% set nb_stars = (c.rate / 10.0) | int %}
                                    <strong>{{ nb_stars }}</strong><span class="fa fa-star text-muted"></span>
                                    <small class="text-muted"> the {{ c.date_created | format_date }}</small>

                                </p>
                            {% else %}
                                <p class="well well-lg text-center text-muted">Nothing to show</p>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-center"><i class="fa fa-comment text-muted"></i> Last comments <small><a href="{{ url_for('softwares.comments', name=software.name) }}">see all</a></small></h5>
                            <hr/>
                            {% for c in software.comments[-5:] %}
                                <p class="well">
                                    <b>
                                        <a href="{{ url_for('user.profile', username=c.user.username) }}">
                                            <img class="img img-circle"
                                                    {% if c.user.avatar %}
                                                        src="{{ c.user.avatar }}"
                                                    {% else %}
                                                        src="{{ c.user.email | gravatar }}"
                                                    {% endif %}
                                                        width="25" height="25">
                                        </a>
                                    </b>
                                    <small class="text-muted">{{ c.date_created | format_date }}</small>
                                    <br/>
                                    <i class="fa fa-quote-left"></i> {{ c.get_content() | safe }} <i
                                        class="fa fa-quote-right"></i>
                                </p>
                            {% else %}
                                <p class="well well-lg text-center text-muted">Nothing to show</p>
                            {% endfor %}

                        </div>
                    </div>
                </div>



                <div role="tabpanel" class="tab-pane fade" id="various-stats">
                            <div class="col-md-11 col-md-offset-1">

                    <table class="table">
                    <tbody>
                        <tr>
                            <th style="border:none"><i class="fa fa-line-chart fa-2x"></i></th>
                            <th style="border:none">MEAN RATE</th>
                            <th style="border:none"><span class="badge big-font">{{ software.mean_rate() }}</span></th>
                            <th style="border:none"><em>(ratings mean of all metabomatch users)</em></th>
                        </tr>
                        <tr>
                            <th style="border:none"><i class="fa fa-quote-left fa-2x"></i></th>
                            <th style="border:none">CITATIONS</th>
                            <th style="border:none"><span class="badge big-font">{{ software.nb_citations }}</span></th>
                            <th style="border:none"><em>(total citations referenced on Pubmed)</em></th>
                        </tr>
                        <tr>
                            <th style="border:none"><i class="fa fa-group fa-2x"></i></th>
                            <th style="border:none">USERS</th>
                            <th style="border:none"><span class="badge big-font">{{ software.users | length }}</span></th>
                            <th style="border:none"><em>(total # users claiming that they uses this software)</em></th>
                        </tr>
                        <tr>
                            <th style="border:none"><i class="fa fa-download fa-2x"></i></th>
                            <th style="border:none">DOWNLOADS</th>
                            <th style="border:none"><span class="badge big-font">{{ software.nb_downloads }}</span></th>
                            <th style="border:none"><em>(total # downloads of releases on github)</em></th>
                        </tr>
                    </tbody>
                    </table>
                                </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="github-stats">
                            <div class="col-md-11 col-md-offset-1">

                    <table class="table">
                    <tbody>
                        {% set issues, opened_issues = software.nb_issues, software.nb_opened_issues %}
                        <tr>
                            <th style="border:none"><i class="fa fa-bug fa-2x"></i></th>
                            <th style="border:none">ISSUES</th>
                            <th style="border:none"><span class="badge big-font">{{ issues }}</span>, still opened: <span class="badge big-font">{{ opened_issues }}</span></th>
                            <th style="border:none"><em>(total issues count referenced on github)</em></th>
                        </tr>
                        <tr>
                            <th style="border:none"><i class="fa fa-institution fa-2x"></i></th>
                            <th style="border:none">CONTRIBUTORS</th>
                            <th style="border:none"><span class="badge big-font">{{ software.nb_maintainers }}</span></th>
                            <th style="border:none"></th>
                        </tr>
                        {% set year_activity, month_activity = software.nb_commits_year, software.nb_commits_month %}
                        <tr>
                            <th style="border:none"><i class="fa fa-code fa-2x"></i></th>
                            <th style="border:none">COMMITS(LAST YEAR)</th>
                            <th style="border:none"><span class="badge big-font">{{ year_activity }}</span></th>
                            <th style="border:none"><em>(total commits of all contributors on this repository during last year)</em></th>
                        </tr>
                        <tr>
                            <th style="border:none"><i class="fa fa-code-fork fa-2x"></i></th>
                            <th style="border:none">COMMITS(LAST MONTH)</th>
                            <th style="border:none"><span class="badge big-font">{{ month_activity }}</span></th>
                            <th style="border:none"><em>(total commits of all contributors on this repository during last month)</em></th>
                        </tr>
                    </tbody>
                    </table>
                                </div>
                </div>
            </div>
        </div>
    </div> {# end row  #}
    {#    <hr/>#}
    <div class="row" style="padding-top:20px;">
        <h3><span class="text-muted fa fa-user"></span> Regular users</h3>
        <hr/>
        <p class="lead">
            There are currently <span class="badge">{{ software.users | length }}</span> <strong>metabomatch
            users</strong> using this software {% if software.users | length %} : {% else %}.{% endif %}
            {% for u in software.users[:5] %}

                <a href="{{ url_for('user.new_message', to_user=u.username) }}">
                    <img class="img img-circle"
                            {% if u.avatar %}
                         src="{{ u.avatar }}"
                            {% else %}
                         src="{{ u.email | gravatar }}"
                            {% endif %}
                         width="25" height="25" data-toggle="tooltip" title="{{ u.username }}">
                </a>

            {% endfor %}
        </p>


        {% if current_user.is_authenticated() and not software.name in (current_user.softwares_used | map(attribute='name')) %}
            <p>Do you use this software regularly ? <a class="btn btn-sm btn-default"
                                                       href="{{ url_for('softwares.register_user', name=software.name) }}"
                                                       rel="nofollow">Yes</a></p>
        {% elif current_user.is_authenticated() and software.name in (current_user.softwares_used | map(attribute='name')) %}
            {#        <p><a class="btn btn-sm btn-primary" href="/" rel="nofollow"><span class="fa fa-certificate"></span> software user !</a></th>#}
            <p class="text-info">You are using this software regularly. <a class="btn btn-sm btn-default"
                                                                           href="{{ url_for('softwares.remove_user', name=software.name) }}"
                                                                           rel="nofollow">No more ?</a></p>

        {% endif %}
    </div>

    <!-- Post a review row -->
    <div class="row" style="padding-top:20px;">
            {#            {% if not current_user.has_commented(software.name) or not current_user.has_commented or show_comment_form %}#}
            {#            {% if show_comment_form %}#}

        <h3><span class="text-muted fa fa-comment"></span> Post a review about this software</h3>
        <hr/>
                <form class="form-horizontal" method="post" action="{{ url_for('softwares.comment', name=software.name) }}">
                    {{ form.hidden_tag() }}
                    {#                    {% if not current_user.has_commented(software.name) or show_comment_form %}#}
                    <div class="form-group">
                        <label class="col-md-3 control-label">Leave a comment or a rating</label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="10" name="content"
                                      placeholder="Your thoughts about {{ software.name }}"></textarea>
                        </div>
                    </div>
                    {#                    {% endif %}#}

                    {#                    {% if not current_user.has_rated(software.name) or show_comment_form %}#}
                    <div class="form-group">
                        <label class="col-md-3 control-label">rating</label>
                         <div class="col-sm-9">
                            <input name="rating" type="number" class="form-control" name="rating" min="0" max="100">

                             <p class="help-block">Rates are between the range 0-100</p>
                        </div>


                    </div>
                    {#                    {% endif %}#}
                    {{ render_submit() }}
                </form>
            {#            {% else %}#}

            {#                <p class="alert-info">It seems you have already commented or rated this software.#}
            {#                    <a href="{{ ['/softwares/', software.name, '?show_comment_form'] | join('') }}" >Comment this software again</a>#}
            {#                </p>#}

            {#            {% endif %}#}

        </div>

    {% if current_user.id == software.owner_id %}
        <hr/>
        <h4>Administration</h4>
        <div class="row text-center" style="padding-bottom: 50px;">
            <div class="col-md-6">
                <p class="help-block">Warning this a permanent change</p>
                <a id="delete" href="{{ url_for('softwares.delete', name=software.name) }}" class="btn btn-danger" disabled="disabled">Delete software</a>
                <small><button id="unlock-delete" class="btn btn-sm btn-default">Unlock</button></small>
            </div>

{#            <div class="col-md-6">#}
{#                <a href="{{ url_for('softwares.delete', name=software.name) }}" class="btn btn-info">Transfer ownership</a>#}
{#            </div>#}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{super()}}
    <script src="{{url_for('static', filename='js/circles.js')}}"></script>

    <script>
        var myCircle = Circles.create({
          id:           'circles-1',
          radius:       100,
          value:        '{{ software.compute_rate() }}',
          maxValue:     100,
          width:        10,
          text:         function(value){return value + '%';},
          colors:       ['#D3B6C6', '#4B253A'],
          duration:       400,
          wrpClass:     'circles-wrp',
          textClass:      'circles-text',
          styleWrapper: true,
          styleText:    true
        });

        $("#unlock-delete").click(function (e) {
            e.preventDefault();
            $("#delete").removeAttr("disabled"); //prop('disabled', false);
        });

        $('#software').addClass('active');
    </script>

    <script src="{{ url_for('static', filename='js/jquery.sparklines.min.js') }}"></script>

{% endblock %}