{% extends theme("layout.html") %}
{% from theme('macros.html') import render_pagination %}

{% block title %}
    All softwares - Metabomatch
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="omics services, metabolomics, softwares, LC-MS, workflow, peak-picking, alignment, identification, database search, statistical analysis">
    <meta name="description" content="Compare metabolomics softwares on Metabomatch using feedback statistics analysis">
{% endblock %}

{% block content %}

    <div class="row" style="padding: 0 0 20px 0">
        <h1>Help the community</h1>
        <hr/>
        <p><strong>You found a new software and you want to share it with the community ?</strong> Do not hesitate to
            register it.<br/><br/>

            <strong>You code yourself something new ?</strong>
            Register your software and as <em>owner or referent</em> you will be able to update some informations about it in the future, or highlight to others
            its strengths and features.
        </p>
        <p class="text-center">
            <a href="{{url_for('softwares.register')}}" class="btn btn-default">Register new software</a></p>

    </div>

    <div class="row">
        <h2>Current best softwares
            <small>{{ today | format_date }}</small>
        </h2>
        <p class="help-block"><strong>Info</strong> To see more about rankings visit <a
                href="{{ url_for('softwares.rankings') }}">this.</a></p>
        <hr/>
        {% for cat_name, soft in best_softwares.items() %}
            <div class="col-md-4">

                <p>
                    {% if cat_name =='UI' %}
                        {% set delta = delta_rankings_ui[soft] %}
                        <span class="fa fa-eye fa-2x text-muted"></span>
                    {% elif cat_name =='PERFORMANCE' %}
                        {% set delta = delta_rankings_perf[soft] %}
                        <span class="fa fa-tachometer fa-2x text-muted"></span>
                    {% elif cat_name == 'SUPPORT' %}
                        {% set delta = delta_rankings_support[soft] %}
                        <span class="fa fa-wrench fa-2x text-muted"></span>
                    {% endif %}
                    Best software for <em>{{ cat_name }}</em>:
                    <a href="{{ url_for('softwares.info', name=soft) }}">
                        <strong>{{ soft }}</strong>
                        {% if delta < 0 %}
                            <span class="text-danger"><strong>{{ delta }}</strong></span>
                        {% elif delta > 0 %}
                            <span class="text-success"><strong>+{{ delta }}</strong></span>
                        {% else %}
                            <span data-toggle='tooltip' title="Ranking remains the same"
                                  class="text-info fa fa-compress"></span>
                        {% endif %}
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>


    <div class="row" style="padding-top: 50px">
        <h2 class="text-left">Select the best software for your needs
            <small>by category</small>
        </h2>
        <hr/>
    </div>


    <div class="row">
        <div class="col-md-3">
            <a href="/softwares?category=1" class="btn btn-primary"><i class="fa fa-tag"></i> Signal Extraction</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=2" class="btn btn-success"><i class="fa fa-tag"></i> LC-alignment</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=3" class="btn btn-warning"><i class="fa fa-tag"></i> Database Search</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=4" class="btn btn-danger"><i class="fa fa-tag"></i> Statistical/Pathway
                analysis</a>
        </div>
    </div>

    <div class="row" style="padding-top:50px;">
        <div class="col-md-3" style="padding: 0; margin: 0">
            <h3 class="text-left">Selected softwares</h3>
        </div>
        <div class="col-md-9" style="padding: 15px 0 0 0;">
            <form class="form-inline" role="form" action="{{ url_for('softwares.index') }}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" name="text" placeholder="Software name">
                </div>
                <button type="submit" class="btn btn-default">Filter</button>
            </form>
        </div>
    </div>

    <div class="row">

        <p class="help-block"><strong>Note:</strong><br/>Each rate and ranking are updated once a day.</p>

        <div class="col-md-11">
            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Software</th>
                        <th>Ranking</th>
                        <th>Programming Language</th>
                        <th>Tags</th>
                        <th class="text-center">Global rate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for soft in softwares.items %}

                        <tr>
                            <th><a href="{{ url_for('softwares.info', name=soft.name) }}">{{ soft.name }}</a>
                                {% if not (soft.insertion_date | older_than_one_month) %}
                                    <small><label class="label label-success">new</label></small>
                                {% endif %}
                            </th>
                            <th>
                                {% set delta_global_rate = delta_rankings_global_rate[soft.name] %}
                                {% if delta_global_rate < 0 %}
                                    <span class="text-danger"><strong>{{ delta_global_rate }}</strong></span>
                                {% elif delta_global_rate > 0 %}
                                    <span class="text-success"><strong>+{{ delta_global_rate }}</strong></span>
                                {% else %}
                                    <span data-toggle='tooltip' title="Ranking remains the same"
                                          class="text-info fa fa-compress"></span>
                                {% endif %}
                            </th>
                            <th><small>{{ soft.programming_language }}</small></th>
                            <th><small>
                                {% set soft_tags = soft.tags| map(attribute='tag') | join(',') %}
                                {% if 'Signal Extraction' in soft_tags %}
                                    <span class="btn btn-primary fa fa-tag"></span>
                                {% endif %}
                                {% if 'LC Alignment' in soft_tags %}
                                    <span class="btn btn-success fa fa-tag"></span>
                                {% endif %}
                                {% if 'Database Search' in soft_tags %}
                                    <span class="btn btn-warning fa fa-tag"></span>
                                {% endif %}
                                {% if 'Statistical Analysis' in soft_tags %}
                                    <span class="btn btn-danger fa fa-tag"></span>
                                {% endif %}
                                </small>

                            </th>
                            {% set rate = soft.compute_rate() %}
                            <th class="text-center">
                                <label
                                        {% if rate >=70 %}
                                            class="label label-primary">
                                        {% elif 50 <= rate < 70 %}
                                            class="label label-success">
                                        {% elif 30 <= rate < 50 %}
                                            class="label label-warning">
                                        {% elif rate < 30 %}
                                            class="label label-danger">
                                        {% endif %}
                                {{ rate }}
                                </label>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    sort by
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        {% if request.args %}
                            <a href="{{ request.url +  '&sort_rate=True' }}"><span
                                    class="fa fa-sort-amount-desc"></span> rate</a>
                        {% else %}
                            <a href="{{ request.url +  '?sort_rate=True' }}"><span
                                    class="fa fa-sort-amount-desc"></span> rate</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if request.args %}
                            <a href="{{ request.url +  '&sort_name=True' }}"><span class="fa fa-sort-alpha-asc"></span>
                                name</a>
                        {% else %}
                            <a href="{{ request.url +  '?sort_name=True' }}"><span class="fa fa-sort-alpha-asc"></span>
                                name</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        {% if request.args.get('sort_name') is not none %}
            {{ render_pagination(softwares, url_for('softwares.index', sort_name=True)) }}
        {% elif request.args.get('sort_rate') is not none %}
            {{ render_pagination(softwares, url_for('softwares.index', sort_rate=True)) }}
        {% else %}
            {{ render_pagination(softwares, url_for('softwares.index')) }}
        {% endif %}
    </div>

    <div class="row">

    <div class="col-md-8 col-sm-12">
    <h2>Recent activity</h2>
    <hr/>
    {% for kind, inst in activities %}
        <div class="alert alert-default" style="padding-top:0">
            <div class="container" style="width:100%;">
                <div class="col-md-1">

                    <span class="fa  {% if kind == 'comment' %} fa-comments-o {% elif kind == 'rating' %} fa-certificate {% else %} fa-chevron-circle-up {% endif %} fa-2x text-muted"></span>
                </div>
                <div class="col-md-11">
                    <p></p>
                    {% if kind =='comment' %}
                        <p>
                            <strong>
                                <a href="{{ url_for('user.profile', username=inst.user.username) }}">{{ inst.user.username }}</a>
                                posted a comment on <a
                                    href="{{ url_for('softwares.info', name=inst.software.name) }}">{{ inst.software.name }}</a>
                                <em>{{ inst.date_created | time_since }}</em>
                            </strong>
                        </p>
                    {% elif kind == 'rating' %}
                        <p>
                            <strong>
                                <a href="{{ url_for('user.profile', username=inst.user.username) }}">{{ inst.user.username }}</a>
                                gave <label class="label label-info" style="font-size: 1.2em;">{{ inst.rate }}</label>
                                for <a
                                    href="{{ url_for('softwares.info', name=inst.software.name) }}">{{ inst.software.name }}</a>
                                <em>{{ inst.date_created | time_since }}</em>
                            </strong>
                        </p>
                    {% else %}
                        <p>
                            <strong>
                                <a href="{{ url_for('user.profile', username=inst.user.username) }}">{{ inst.user.username }}</a>
                                upvoted
                                <a href="{{ url_for('softwares.info', name=inst.sentence_software_mapping.software.name) }}">{{ inst.sentence_software_mapping.software.name }}
                                </a>
                                <em>{{ inst.date_created | time_since }}</em> ago.
                            </strong>
                        </p>
                    {% endif %}
                    <p>
                        {% if kind=='comment' %}
                            <small class=text-muted>{{ inst.content | crop_title(length=200) }}</small>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
            {% endfor %}

        </div>

        <div class="col-md-4 col-sm-12 text-right">
            <h2>Last news</h2>
            <hr/>
            {% for article in last_articles %}
                <h4>{{ article.title | crop_title(50) }} <small class="text-muted">{{article.creation_date | format_date}}</small></h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>$('#software').addClass('active');</script>
{% endblock %}