{% extends theme("layout.html") %}
{% from theme('macros.html') import render_pagination %}

{% block keywords %}
    <meta name="keywords" content="omics services, metabolomics, softwares, LC-MS, workflow, peak-picking, alignment, identification, database search, statistical analysis">
    <meta name="description" content="Shows all registered softwares on Metabomatch classified by LC-MS workflow categories">
{% endblock %}

{% block css %}
    {{ super() }}
    <style>
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.6em;
        }

        h3 {
            font-size: 1.5em;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="row" style="padding: 0 0 20px 0">
        <h1>Help the community</h1>
        <hr/>
        <p><strong>You found a new software and you want to share it with the community ?</strong> Do not hesitate to
            register it.<br/><br/>

            <strong>You code yourself something new ?</strong>
            Register your software and as <em>owner or referent</em> you will be able to update some informations about it in the future, or highlight to others
            its strengths and features.
        </p>
        <p class="text-center">
            <a href="{{url_for('softwares.register')}}" class="btn btn-default">Register new software</a></p>

    </div>

    <div class="row">
        <h2>Current best softwares
            <small>{{ today | format_date }}</small>
        </h2>
        <p class="help-block"><strong>Info</strong> To see more about rankings visit <a
                href="{{ url_for('softwares.rankings') }}">this.</a></p>
        <hr/>
        {% for cat_name, soft in best_softwares.items() %}
            <div class="col-md-4">

                <p>
                    {% if cat_name =='UI' %}
                        <span class="fa fa-eye fa-2x text-muted"></span>
                    {% elif cat_name =='PERFORMANCE' %}
                        <span class="fa fa-tachometer fa-2x text-muted"></span>
                    {% elif cat_name == 'SUPPORT' %}
                        <span class="fa fa-wrench fa-2x text-muted"></span>
                    {% endif %}
                    Best software for <em>{{ cat_name }}</em>: <a
                        href="{{ url_for('softwares.info', name=soft) }}"><strong>{{ soft }}</strong></a></p>
            </div>
        {% endfor %}
    </div>


    <div class="row" style="padding-top: 50px">
        <h2 class="text-left">Select the best software for your needs
            <small>by category</small>
        </h2>
        <hr/>
    </div>


    <div class="row">
        <div class="col-md-3">
            <a href="/softwares?category=1" class="btn btn-primary"><i class="fa fa-tag"></i> Signal Extraction</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=2" class="btn btn-success"><i class="fa fa-tag"></i> LC-alignment</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=3" class="btn btn-warning"><i class="fa fa-tag"></i> Database Search</a>
        </div>
        <div class="col-md-3">
            <a href="/softwares?category=4" class="btn btn-danger"><i class="fa fa-tag"></i> Statistical analysis</a>
        </div>
    </div>

    {#    <div class="row" style="padding: 50px 0 50px 0;">#}
    {#        <p> Or search a software name: </p>#}
        {#        <form class="form-inline" role="form" action="{{url_for('softwares.index')}}" method="GET">#}
        {#            <div class="form-group">#}
        {#                 <input type="text" class="form-control" name="text" placeholder="Software name">#}
        {#            </div>#}
        {#            <button type="submit" class="btn btn-default">Filter</button>#}
        {#        </form>#}
    {#    </div>#}


    <div class="row" style="padding-top:50px;">
        <div class="col-md-3" style="padding: 0; margin: 0">
            <h3 class="text-left">Selected softwares</h3>
        </div>
        <div class="col-md-9" style="padding: 15px 0 0 0;">
            <form class="form-inline" role="form" action="{{ url_for('softwares.index') }}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" name="text" placeholder="Software name">
                </div>
                <button type="submit" class="btn btn-default">Filter</button>
            </form>
        </div>
    </div>
    {#    <h3>Selected softwares#}
    {##}
    {#    </h3>#}

    <div class="row">

        <p class="help-block"><strong>Note:</strong><br/>Each rates and ranking are updated each day, during the night.
        </p>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Software</th>
                        <th>Programming Language</th>
                        <th>Institute</th>
                        <th>Tags</th>
                        <th class="text-center">Current Rate</th>
                        {% if current_user.is_authenticated() %}
                            <th></th>
                        {% endif %}
                        <th>
                            <small>
                                <a href= {% if request.args %}
                                    "{{ request.url +  '&sort_rate=True' }}"
                                {% else %}
                                    "{{ request.url +  '?sort_rate=True' }}"
                                {% endif %} data-toggle="tooltip" title="sort softwares by rate">
                                    <span class="fa fa-sort-amount-desc"></span>
                                </a>
                                <a href=
                                           {% if request.args %}
                                               "{{ request.url +  '&sort_name=True' }}"
                                           {% else %}
                                               "{{ request.url +  '?sort_name=True' }}"
                                           {% endif %}
                                data-toggle="tooltip"
                                   title="sort softwares by name">
                                    <span class="fa fa-sort-alpha-asc"></span>
                                </a>
                            </small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for soft in softwares.items %}

                        <tr>
                            <th><a href="{{ url_for('softwares.info', name=soft.name) }}">{{ soft.name }}</a>
                                {% if not (soft.insertion_date | older_than_one_month) %}
                                    <small><label class="label label-success">new</label></small>
                                {% endif %}
                            </th>
                            <th><small>{{ soft.programming_language }}</small></th>
                            <th><small>{{ soft.organization }}</small></th>
                            <th><small>
                                {% set soft_tags = soft.tags| map(attribute='tag') | join(',') %}
                                {% if 'Signal Extraction' in soft_tags %}
                                    <i class="btn btn-primary fa fa-tag"></i>
                                {% endif %}
                                {% if 'LC Alignment' in soft_tags %}
                                    <i class="btn btn-success fa fa-tag"></i>
                                {% endif %}
                                {% if 'Database Search' in soft_tags %}
                                    <i class="btn btn-warning fa fa-tag"></i>
                                {% endif %}
                                {% if 'Statistical Analysis' in soft_tags %}
                                    <i class="btn btn-danger fa fa-tag"></i>
                                {% endif %}
                                </small>

                            </th>
                            {#                            {% if current_user.is_authenticated() %}#}
                                {% set rate = soft.compute_rate() %}
                                {% if rate >=70 %}
                                    <th class="text-center"><label class="label label-primary">{{ rate }}</label></th>
                                {% elif  50 <= rate < 70  %}
                                    <th class="text-center"><label class="label label-success">{{ rate }}</label></th>
                                {% elif  30 <= rate < 50  %}
                                    <th class="text-center"><label class="label label-warning">{{ rate }}</label></th>
                                {% elif  rate < 30 %}
                                    <th class="text-center"><label class="label label-danger">{{ rate }}</label></th>
                                {% endif %}
                            {#                            {% else %}#}
                            {#                                <th><label class="label label-default">hidden</label></th>#}
                            {#                            {% endif %}#}
                            {% if current_user.is_authenticated() and not soft.name in (current_user.softwares_used | map(attribute='name')) %}
                                <th class="text-right"><a class="btn btn-sm btn-default"
                                                          href="{{ url_for('softwares.register_user', name=soft.name) }}">Using
                                    this software ?</a></th>
                            {% elif current_user.is_authenticated() and soft.name in (current_user.softwares_used | map(attribute='name')) %}
                                <th class="text-right"><a class="btn btn-sm btn-primary" href="/"><i
                                        class="fa fa-certificate"></i> software user !</a></th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% if request.args.get('sort_name') is not none %}
            {{ render_pagination(softwares, url_for('softwares.index', sort_name=True)) }}
        {% elif request.args.get('sort_rate') is not none %}
            {{ render_pagination(softwares, url_for('softwares.index', sort_rate=True)) }}
        {% else %}
            {{ render_pagination(softwares, url_for('softwares.index')) }}
        {% endif %}
    </div>

    <h2>Recent activity</h2>
    <hr/>
    {% for kind, inst in activities %}
        <div class="alert alert-default">
            <div class="container" style="width:100%">
                <div class="col-md-1">

                    <span class="fa  {% if kind == 'comment' %} fa-comments-o {% else %} fa-certificate {% endif %} fa-3x text-muted"></span>
                </div>
                <div class="col-md-11">
                    <p></p>
                    {% if kind =='comment' %}
                        <p>
                            <strong>
                                <a href="{{ url_for('user.profile', username=inst.user.username) }}">{{ inst.user.username }}</a>
                                posted a comment on <a
                                    href="{{ url_for('softwares.info', name=inst.software.name) }}">{{ inst.software.name }}</a>
                                <em>{{ inst.date_created | time_since }}</em>
                            </strong>
                        </p>
                    {% else %}
                        <p>
                            <strong>
                                <a href="{{ url_for('user.profile', username=inst.user.username) }}">{{ inst.user.username }}</a>
                                gave <label class="label label-info" style="font-size: 1.2em;">{{ inst.rate }}</label>
                                for <a
                                    href="{{ url_for('softwares.info', name=inst.software.name) }}">{{ inst.software.name }}</a>
                                <em>{{ inst.date_created | time_since }}</em>
                            </strong>
                        </p>
                    {% endif %}
                    <p>
                        {% if kind=='comment' %}
                            <small class=text-muted>{{ inst.content | crop_title(length=200) }}</small>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>$('#software').addClass('active');</script>
{% endblock %}