{% set page_title = "Login" %}

{% extends theme("layout.html") %}
{% from theme("macros.html") import horizontal_field %}
{% block content %}

    {#    <div class="row">#}
    {#        <p class="well alert-info">Authentication via Github is intended primarily for developers of tools referenced in <b>metabomatch</b>. The classic authentication is reserved for its conventional users.#}
    {#        After choosing sides, use the same means of authentication the next time you visit <b>metabomatch</b>. If you have any connection problem, send an email to contact@metabomatch.com.</p>#}
    {#    </div>#}
    <h2>Login</h2>
    <hr>
    <div class="row text-center">
        <p>
          <strong>
            Metabomatch is a community to share feedbacks/thoughts about metabolomics softwares.
          </strong>
        </p>
        <!--<img src="{{url_for('static', filename='img/twitter-github.png')}}" width="200" alt=""/>-->
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-md-6 text-center">
            <a style="font-size: 1.5em;" class="btn btn-info" href="{{ url_for('auth.login_twitter')}}"><i class="fa fa-twitter"></i> Login with <b>Twitter</b></a>
        </div>
        <div class="col-md-6 text-center">
            <a style="font-size: 1.5em;" class="btn btn-primary" href="{{ url_for('auth.login_github')}}"><i class="fa fa-github"></i> Login with <b>Github</b></a>
        </div>
    </div>

    <div class="row" style="padding-top: 20px">

    </div>


{% endblock %}
