{% extends theme("layout.html") %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
{% endblock %}
{% block content %}

    <h3>{{ script.software.name }}</h3>
    <h3> {{ script.title }} by <a href="{{ url_for('user.profile', username=script.user.username) }}">{{ script.user.username }}</a>
        <a href="{{ url_for('scripts.upvote', script_id=script.id) }}"><i class="fa fa-thumbs-o-up"></i><span class="badge">{{ script.up_votes }}</span></a></h3>
    <hr/>

    {%  if script.description %}
        <p class="help-block">{{ script.description }}</p>
    {% else %}
        <p class="help-block">No description available</p>
    {% endif %}

    {% if script.dependancies  == 'NA' %}
        <p class="help-block">No dependancies described</p>
    {%  else %}
        <p class="help-block"><em>Rely on:</em>{{ script.dependancies }}</p>
    {% endif %}

    {% if current_user.username != script.user.username %}
        <h4 style="padding-top: 20px">Code <small class="text-muted">You can not edit this code</small></h4>
    {% else %}
        <h4 style="padding-top: 20px">Code <small><button id="edit" class="btn btn-default btn-sm">Edit</button></small>
            <p id="edition_mode"><small class="text-danger">Warning, edition mode:ON</small></p></h4>
    {% endif %}


    <form id="update_content_form" method="post" action="{{ url_for('scripts.update_content', script_id=script.id) }}">
        <div class="row">
            <div id="editor">
            </div>
        </div>

        <a id="submit" class="btn btn-success">Save</a>
    </form>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>
    <script>
        var editor = ace.edit("editor");
        editor.getSession().setUseWorker(false);
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/{{ script.programming_language | lower }}");
        editor.setOptions({
            maxLines: 100,
            minLines: 25
        });
        editor.setValue("{{ (script.preview_content() | join('\\n')) | safe }}");
        editor.setReadOnly(true);
        $('#edition_mode').css('display', 'none');


        {% if current_user.username == script.user.username %}
            $('#edit').click(function(){
                editor.setReadOnly(false);
                $('#edition_mode').css('display', 'inline-block');
                 $('#edit').css('display', 'none');
            });
        {% endif %}

        $('#submit').click(function(event){
            event.preventDefault();
            var code = editor.getSession().getValue();

            var f = document.getElementById("update_content_form");
            var script_content = document.createElement("textarea");
            script_content.name = 'content';
            script_content.value = code;
            script_content.style.display = 'none';
            f.appendChild(script_content);
            f.submit();
        });
    </script>
{% endblock %}