{% extends theme("layout.html") %}

{% block title %}
    Script-{{ script.title }}
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="metabomatch, software, parameters, scripts, {{ script.software.name }}">
    <meta name="description" content="List all scripts and parameters posted by metabomatch users.">
{% endblock %}

{% block content %}

    <h1><span class="text-muted">Software:</span> {{ script.software.name | default('No software defined') }}</h1>

    {% if current_user.id == script.user.id %}
        <form class="form-inline" method="post" action="{{ url_for('scripts.update_software', script_id=script.id) }}">
            {{ form_software.hidden_tag() }}

            <div class="form-group">
                <label>Change software:</label>
                <select name='software' class="form-control ">
                    {% for c in form_software.software.choices %}
                        <option value="{{ c[0] }}"> {{ c[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-sm btn-default" type="submit">Change</button>
        </form>
    {% endif %}

    <h2>
        <span class="text-muted">Script title:</span> {{ script.title }} by <a
            href="{{ url_for('user.profile', username=script.user.username) }}">{{ script.user.username }}</a>
        <a class="pull-right" href="{{ url_for('scripts.upvote', script_id=script.id) }}" rel="nofollow"><span
                class="fa fa-thumbs-o-up"></span><span class="badge">{{ script.up_votes }}</span></a>
    </h2>
    <p class="help-block"> Click on <span class="fa fa-thumbs-o-up"></span> to upvote this script ! </p>
    <hr/>

    <p class="help-block">{{ script.description | default('No description available', true) }}</p>


    {% if current_user.id != script.user.id %}
        <h3 style="padding-top: 20px">
            <span class="text-muted">Code</span>
            <small class="text-muted">You can not edit this code</small>
        </h3>
    {% else %}
        <h3 style="padding-top: 20px"><span class="text-muted">Code</span> <small><button id="edit" class="btn btn-default btn-sm">Edit</button></small>
            <p id="edition_mode">
                <small class="text-danger">Warning, edition mode:ON</small>
            </p>
        </h3>
    {% endif %}


    <form id="update_content_form" method="post" action="{{ url_for('scripts.update_content', script_id=script.id) }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div id="editor">{{ script.content }}
            </div>
        </div>
        {% if current_user.id == script.user.id %}
            <a id="submit" class="btn btn-success">Save</a>
        {% endif %}
    </form>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>
    <script>
        var editor = ace.edit("editor");
        editor.getSession().setUseWorker(false);
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/{{ script.programming_language | lower }}");
        editor.setOptions({
            maxLines: 100,
            minLines: 25
        });
        editor.setReadOnly(true);
        $('#edition_mode').css('display', 'none');


        {% if current_user.username == script.user.username %}
            $('#edit').click(function(){
                editor.setReadOnly(false);
                $('#edition_mode').css('display', 'inline-block');
                 $('#edit').css('display', 'none');
            });
        {% endif %}

        $('#submit').click(function(event){
            event.preventDefault();
            var code = editor.getSession().getValue();

            var f = document.getElementById("update_content_form");
            var script_content = document.createElement("textarea");
            script_content.name = 'content';
            script_content.value = code;
            script_content.style.display = 'none';
            f.appendChild(script_content);
            f.submit();
        });
    </script>
{% endblock %}