{% extends theme("layout.html") %}

{% block title %}
    Software forums - Metabomatch
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="metabomatch, forums, softwares, topic, answer">
    <meta name="description" content="List of our forums dedicated to metabolomics software.">
{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">Forums</a></li>
</ol>

<ul class="list-group">

{% for category, forums in categories %}
{#    {% include theme("forum/category_layout.html") %}#}
    <li class="list-group-item">
                {% set post_count = forums|map('first')|sum(attribute='post_count') %}
        <div class="container" style="width: 100%">
            <div class="row">
                <div class="col-sm-9">
                    <a href="{{ category.url }}">
                        <strong>{{ category.title }}</strong>
                    </a>
                    {% if post_count %}
                        {% set last_post = forums|map('first')|map(attribute='last_post')|reject('none')|sort(attribute='date_created')|first %}
                        , last post by
                        <a href="{{ url_for('user.profile', username=last_post.username) }}">
                            {% if last_post.user.avatar %}
                                <img src="{{ last_post.user.avatar }}" alt="Avatar" height="20" width="20">
                            {% else %}
                                <img class='img-rounded' src="{{ last_post.user.email | gravatar }}" alt="gravatar"
                                     height="20" width="20" data-toggle="tooltip" data-placement="bottom"
                                     title="{{ last_post.username }}">
                            {% endif %}
                        </a>
                        &bull;  <strong>{{ last_post.date_created | time_since }}</strong>
                    {% endif %}
                </div>
                <div class="col-sm-3 text-right">
                    <span class="text-right">#post <span class="badge"> {{ post_count }}</span> </span>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

<!-- Forum Stats -->
<table class="table table-bordered">
    <thead>
        <tr>
            <td colspan="2">
                <strong>Board Statistics</strong>
                [<a href="{{ url_for('forum.who_is_online') }}" onclick="window.open(this.href, 'wio_window','width=500,height=500'); return false;">Who is online?</a>]
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Total number of registered users: <strong>{{ user_count }}</strong> <br />
                Total number of topics: <strong>{{ topic_count }}</strong> <br />
                Total number of posts: <strong>{{ post_count }}</strong> <br />
            </td>
            <td>
                Newest registered user: {% if newest_user %}<a href="{{ newest_user.url }}">{{ newest_user.username }}</a>{% else %}No users{% endif %}<br />
                Registered users online: <strong>{{ online_users }}</strong> <br />
                {% if config["REDIS_ENABLED"] %}
                Guests online: <strong>{{ online_guests }}</strong> <br />
                {% endif %}
            </td>
        </tr>

    </tbody>
</table>

{% endblock %}
