{% extends theme("layout.html") %}

{% block css %}
    {{ super() }}
    <style>

        {#        body {#}
        {#            background: url("static/img/bright_squares.png") repeat;#}
        {#        }#}

        .navbar {
            padding: 0 23% 0 22%;
            margin-bottom: 0
        }

        .container {
            min-width: 100%;
        }

        .jumbotron {
            color: white;
            min-width: 100%;
            min-height: 300px;
            background: -webkit-linear-gradient(#1565c0, #2196f3);
              background: -o-linear-gradient(#1565c0, #2196f3);
              background: -moz-linear-gradient(#1565c0, #2196f3);
              background: linear-gradient(#1565c0, #2196f3);
        }

        .custom-button {
            color:white;
            border: 2px solid white;
            border-radius: 10px;
            padding: 10px 10px 10px 10px;
            text-decoration: none;
        }

        .custom-button:hover {
            text-decoration: none;
            color:white;
        }

        #footer {
            padding: 0 25% 0 25%;
        {#            display: none;#}
        }

        .blank-link{
            color:#0d47a1;
{#            border-bottom: 2px solid #D26911;#}
        }

        .blank-link:hover {
            color: #0d47a1;
{#            text-decoration: none;#}
        }

        p {
            text-indent: 20px;
        }

        #motivation {
            padding: 0px 20% 0px 20%;
            font-size: 1.2em;
        }


    </style>
{% endblock %}
{% block content %}
    <!---->

    {#    <div class="jumbotron">#}
    {#        <div class="container text-center">#}
    {#            <h1 style="font-family: Consolas">Metabomatch</h1>#}
    {#            <h2 class="text-center">Find the <em>best metabolomic software</em> for your needs.</h2>#}
    {#            <p><a id="software-chooser" class="custom-button" href="{{ url_for('softwares.index') }}">Start</a></p>#}
    {#            <p class="text-center" style="padding-top: 20px;">Did not find the software you use ? Do not hesitate to <a class="blank-link" href="{{ url_for('softwares.register') }}">register</a> it.</p>#}
    {#            <p style="padding-top: 5px;">Discuss about <em>softwares algorithms, problems, features</em> in our <a class="blank-link" href="/forum">forums</a>.</p>#}
    {#        </div>#}
    {#    </div>#}

    <div id="motivation" class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h3 class="text-info">Many softwares...</h3>

                <p class="text-justify text-left">More and more softwares are released everyday to tackle biological
                    data processing
                    (<em>Big Data problem</em>). Especially <strong>metabolomics data</strong> coming from <em>mass
                        spectrometry</em>. Machines are
                    constantly evolving and community adapt their workflow to get more insight in the biological problem
                    they study.
                </p>

                <h3 class="text-info">Which one may fit best your needs in terms of quality and performance ?</h3>

                <p class="text-justify text-left">
                    <em>Many softwares have common functionalities, they can do it well or not, they can do it fast or
                        not.
                    </em> We aim to guide <strong>bioinformaticians, researchers, clinicians to find the best
                    tool</strong>
                    to fit their needs quickly with confidence. We tried to class softwares in different part of the
                    cassical
                    metabolomics analysis pipeline and attribute mark based on rigourous criteria so that user can
                    identify
                    the best tools established by the community.
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="{{ url_for('static', filename='img/company.jpg') }}" class="img-responsive"
                     style="padding-top: 70px;">
            </div>

        </div>

        <hr/>

        <div class="row" style="padding-bottom:50px;">
            <div class="col-md-5">
                <img src="{{ url_for('static', filename='img/data-analytics.jpg') }}" class="img-responsive">
            </div>
            <div class="col-md-5 col-md-offset-2 text-left">
                <h3 class="text-info">Helping you in that task !</h3>
                <p> On this website, you will be able to:
                    <ul>
                        <li><strong>find <em>free</em> metabolomics softwares</strong> for each step of the standard metabolomics pipeline analysis.</li>
                        <li>get some informations on it</li>
                        <li>find the <strong>best softwares for your needs</strong> thanks to our <strong>notation system</strong> based on the community feedback.</li>
                        <li>be aware of the feedback on each tool of the community</li>
                        <li><strong>Share</strong> your favorites scripts</li>
                        <li>Discuss about software algorithm, installation problems... Why not new idea and <strong>crowdsourcing</strong> ?</li>
                    </ul>
                </p>
            </div>

        </div>

        <hr/>

        <div class="row" style="padding-top: 50px;">
            <div class="col-md-4 text-center">
                <i class="fa fa-thumbs-o-up fa-5x"></i>

                <h3 class="text-info">Find the right tool for your needs</h3>

                <p class="text-left"><b>metabomatch</b> evaluate each tools thanks to community feedback, guide you to pick-up the best for your needs. Register your <em>own software</em>,
                    and compare it to others.</p>
                <p class="text-left"><a href="{{ url_for('softwares.index') }}" class="btn btn-info">View details &raquo;</a></p>
            </div>

            <div class="col-md-4 text-center">
                <i class="fa fa-share fa-5x"></i>

                <h3 class="text-info">Share your script and parameters</h3>

                <p class="text-left">With all mass sepctrometers available, it is sometimes hard to find good tuning
                    for various algorihtm. We proposed a space to share your <strong>scripts and parameters</strong> to
                    help the community.</p>

                <p class="text-left"><a href="{{ url_for('scripts.index') }}" class="btn btn-info">View details &raquo;</a></p>

            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-coffee fa-5x"></i>

                <h3 class="text-info">Discuss about your favorite software</h3>

                <p class="text-left">We offer the possibilty to discuss about available tools. You can post a question
                    about algorithm parameters and be sure that a community member will be able to answer.</p>

                <p class="text-left"><a href="{{ url_for('forum.index') }}" class="btn btn-info">View details &raquo;</a></p>
            </div>

        </div>

        <hr/>

        <div class="row">
            <h3 class="text-info">Contact</h3>
            <p>For any questions do not hesitate to send an email to <a href="mailto:contact@metabomatch.com">contact@metabomatch.com</a></p>
        </div>

        <div class="row" style="padding-bottom: 20px;">
            <h4>Tools used to build this website</h4>
            <ul>
                <li><a href="http://flaskbb.org/">flaskbb</a> for managing user registration and forums</li>
                <li><a href="https://www.heroku.com/">Heroku</a> making application deployment easy</li>
                <li><a href="http://getbootstrap.com/">bootstrap</a> for front end design</li>
            </ul>
        </div>


        {#        <hr/>#}
        {##}
        {#        <p class="text-muted"><strong>Copyright Marc Dubois 2015. All rights reserved.</strong>#}
        {#            <small>Some icons from: <a href="http://www.visualpharm.com">http://www.visualpharm.com</a></small></p>#}
{#        <p>Release 0.1 <label class="label label-success">beta</label></p>#}
    </div>


{% endblock %}

