{% extends theme("layout.html") %}

{% block css %}
    {{ super() }}
    <style>
        .container {
            min-width: 100%;
            padding: 0;
        }

        .navbar {
            padding: 0 20% 0 20%;
            margin-bottom: 0
        }

        #particles-js {
            max-height: 600px;
            /*margin-bottom: 60px;*/
            background: #b61924;
            overflow: hidden;
        }

        .jumbotron {
            color:white;
            height: auto;
            z-index: 500;
            position: absolute;
            top: 15%;
            bottom: auto;
            left: 0;
            right: 0;
            background: none;
            /*background: url('../img/computer.jpg') 50% 40%;*/
        }

        h3 {
            color: #f44336;
        }

        #software-access {
            color:white;
            border: 1px solid white;
            border-radius: 10px;
            padding: 10px 10px 10px 10px;
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block content %}
    <!---->
    <div id="particles-js">
    </div>

    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="text-center text-muted"> Metabomatch: fit your needs</h1>

            <h2 class="text-center">Find the best metabolomic software for your need.</h2>

            <p>All metabolomic are tested againsted several reference datasets. You can test providing your own
                dataset</p>
            <a id="software-access" href="/forum">access to the forum</a>
        </div>
    </div>

    <div class="container" style="padding: 50px 15% 0 15%">
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fa fa-thumbs-o-up fa-5x"></i>

                <h3>Find the right tool for your needs</h3>

                <p class="text-left"><b>metabomatch</b> organize `match` between different tools. Submit your dataset,
                    select tools you want to compare and check the result.</p>

                <p class="text-left"><a href="/" class="btn btn-default">View details &raquo;</a></p>
            </div>

            <div class="col-md-4 text-center">
                <i class="fa fa-share fa-5x"></i>

                <h3>Share your script</h3>

                <p class="text-left">With all mass sepctrometers available, it is sometimes hard to find a good tuning
                    of algorihtm. We proposed a space to share your scripts to help the community.</p>

                <p class="text-left"><a href="/" class="btn btn-default">View details &raquo;</a></p>

            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-coffee fa-5x"></i>

                <h3>Discuss about your favorite software</h3>

                <p class="text-left">We offer the possibilty to discuss about available tools. You can post a question
                    about a parameters of an algorihtm and be sure that a community member will be able to answer.</p>

                <p class="text-left"><a href="/" class="btn btn-default">View details &raquo;</a></p>
            </div>

        </div>
    </div>


    {% block scripts %}

        <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
        <script>
            particlesJS('particles-js', {
                particles: {
                    color: '#000',
                    shape: 'circle', // "circle", "edge" or "triangle"
                    opacity: 1,
                    size: 4,
                    size_random: true,
                    nb: 150,
                    line_linked: {
                        enable_auto: true,
                        distance: 100,
                        color: '#000',
                        opacity: 1,
                        width: 1,
                        condensed_mode: {
                            enable: false,
                            rotateX: 600,
                            rotateY: 600
                        }
                    },
                    anim: {
                        enable: true,
                        speed: 1
                    }
                },
                interactivity: {
                    enable: false,
                    mouse: {
                        distance: 250
                    },
                    detect_on: 'canvas', // "canvas" or "window"
                    mode: 'grab',
                    line_linked: {
                        opacity: .5
                    },
                    events: {
                        onclick: {
                            enable: true,
                            mode: 'push', // "push" or "remove" (particles)
                            nb: 4
                        }
                    }
                },
                /* Retina Display Support */
                retina_detect: true
            });
        </script>
    {% endblock %}

{% endblock %}

