{% extends theme("layout.html") %}
{%  block content %}


    <div class="row" style="padding: 50px 0 50px 0">
        <div class="col-md-6">
            <h2>Signal Extraction</h2>
            This element includes all the necessary step leading to `feature` detection. It may involves:
                <ul class="list-group">
                    <li class="list-group-item">Smoothing</li>
                    <li class="list-group-item">Baseline removal</li>
                    <li class="list-group-item">Spectra peak picking (centroiding)</li>
                    <li class="list-group-item">Elution peak detection</li>
                </ul>
        </div>
        <div class="col-md-6">

            <img src="{{ url_for('static', filename='img/lcms_map2.png') }}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <hr>
        </div>
    </div>

    <div class="row" style="padding: 50px 0 50px 0">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/alignment2.jpg') }}">
        </div>
        <div class="col-md-6">
            <h2>LC-alignment</h2>
            The goal of the Map Alignment analysis is to transform different LC-MS feature maps to a common retention
            time axis. It corrects shifted and scaled retention times, which may result from changes of the chromatography.
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <hr>
        </div>
    </div>

    <div class="row" style="padding: 50px 0 50px 0">
        <div class="col-md-6">
            <h2>Database Search</h2>
            <ul class="list-group">
                <li class="list-group-item">Isotopes/adducts annotations</li>
                <li class="list-group-item">Database identification</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/hmdb.jpg') }}">
            <img src="{{ url_for('static', filename='img/metlin.jpg') }}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <hr>
        </div>
    </div>

    <div class="row" style="padding-top: 50px">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/systrip.png') }}">

        </div>
        <div class="col-md-6">
            <h2>Statistical analysis</h2>
            <ul class="list-group">
                <li class="list-group-item">Differential analysis</li>
                <li class="list-group-item">Univariate/multivariate analysis</li>
                <li class="list-group-item">Machine learning</li>
                <li class="list-group-item">Pathway mapping and analysis</li>
            </ul>
        </div>
    </div>
{% endblock %}